
  .task {
    background: #eee;
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  .task:hover {
    transform: scale(1.04);
  }
  
  .task.reminder {
    border-left: 5px solid black;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .add-form {
    margin-bottom: 40px;
  }
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
    border: 3px solid black;
  }