@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container {
  width: 25%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 3.5px solid black;
  padding: 30px;
  border-radius: 5px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  margin-bottom: 2px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: 3px solid black;
}

.form-control textarea {
  width: 100%;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: 3px solid black;
}


footer {
  margin-top: 30px;
  text-align: center;
}